<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h1><img src="http://{{ entity.realm.region }}.battle.net/static-render/{{ entity.realm.region }}/{{ entity.thumbnail }}" /></h1>
            </div>
            <div class="col-md-10">
                <h1>{{ entity }}</h1>
            </div>
        </div>
    </div>
</div>